
.navbar-brand{
    color:#fff!important;
}
.espaco-padrao{
    margin-top:5%!important;
}
.btn-primary{
    background-color:#AF1D23!important;
    border: 1px #AF1D23!important;
}
h2{
    color:#AF1D23!important;
    font-size:22pt;

}
.table{
    overflow: scroll!important;
}
.dropdown-item :hover a{
    background-color:#DC3545!important;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('https://shop.purgatoryresort.com/bundles/spotliowebappfront/purgatoryresort/images/ajax-loader.gif') 50% 50% no-repeat white;
}